<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
    <table>
        <thead>
            <td>Regno</td>
            <td>Name</td>
            <td>Email</td>
        </thead>
        <tbody>
            <tr th:each="student: ${students}">
                <td th:text="${student.regNo}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.emailId}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>