<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
    
    <p th:each="course : ${courses}">
        <span>[[${course.code}]]</span>
        <span>[[${course.name}]]</span>
        <span>[[${course.semester}]]</span>
        
        <a th:href="@{'/experiments?id=' + ${course.code}}">Experiments</a>
        <a th:href="@{'/students/submissions'}">Submitted Experiments</a>
    </p>
</body>
</html>