<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
    <form action="/students/save" method="POST" th:object="${student}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <table>
            <tr>
                <td>RegNo:</td> 
                <td><p th:field="${student.regNo}" th:text="${student.regNo}"></p></td>
            </tr>
            <tr>
                <td>Name:</td> 
                <td><input th:field="${student.name}"></td>
            </tr>
            <tr>
                <td>Email :</td> 
                <td><input th:field="${student.emailId}"></td>
            </tr>
            <tr>
                <td>Semester :</td> 
                <td>
                    <input th:field="${student.semester}" th:value="${student.semester}">
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Update"> </td>
                <td><button type="reset">Cancel</button></td>
            </tr>
        </table>
    </form>
</body>
</html>