<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
    
    <div class="container">
    <table class="table table-striped table-hover table-bordered mt-5">
    <thead>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Course Semester</th>
        <th>Experiments</th>
        <th>Submitted Experiments</th>
    </thead>
    <tbody>
        <tr th:each="course : ${courses}">
            <td>[[${course.code}]]</td>
            <td>[[${course.name}]]</td>
            <td>[[${course.semester}]]</td>
            
            <td><a th:href="@{'/experiments?id=' + ${course.code}}">Experiments</a></td>
            <td><a th:href="@{'/students/submissions'}">Submitted Experiments</a></td>
        </tr>
    </tbody>
    </table>
    </div>
</body>
</html>