<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
    <form action="/courses/save" method="POST" th:object="${course}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <label for="expNo">Course code:</label> <input type="text" th:field="*{code}">
        <label for="title">Course name:</label> <input type="text" th:field="*{name}">
        <label for="title">Course Sem:</label> <input type="text" th:field="*{semester}">
        <input type="submit" value="Add">
    </form>
</body>
</html>