<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<nav sec:authorize="!hasRole('ADMIN')" th:replace="fragments/navbar :: navbar"></nav>
    <nav sec:authorize="hasRole('ADMIN')" th:replace="fragments/navbar :: navbarAdmin"></nav>
    <div class="container">
    <table class="table table-striped table-hover table-bordered mt-5">
        <thead>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>New Exp</th>
            <th>List Exp</th>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td>[[${course.code}]]</td>
                <td>[[${course.name}]]</td>
                <td><a th:href="@{'/experiments/new?id=' + ${course.code}}">Add exp</a></td>
                <td><a th:href="@{'/experiments?id=' + ${course.code}}">Exp list</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>