<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiments</title>
</head>
<body>
    <p th:each="course : ${courses}">
        <span>[[${course.code}]]</span>
        <span>[[${course.name}]]</span>
        <span>[[${course.semester}]]</span>
        
        <a th:href="@{'/experiments?id=' + ${course.code}}">Click</a>
    </p>
</body>
</html>